.imgThumb{
  max-height: 50px;
  margin-right: 50px;
}


.campo-preenchimento{
  max-width: 40px;
}

.margem-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

#viewport{
    width: 450px;
    height: 400px;
    background-color: #000;
    margin: auto;
}

.imgExp{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
}
