.imgThumb{
  max-height: 50px;
  margin-right: 50px;
}

.viewport{
  background-color: #000;
  min-width: 500px;
  min-height: 400px;
}

.campo-preenchimento{
  max-width: 40px;
}

.margem-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

#draw{
    width: 550px;
    height: 500px;
    border: 1px solid;
    background-color: black;
}
